/* Add CSS Styling */

.odd {
    background-color: #ffa0a0;
    font-family: "Verdana", "Dejavu Sans", sans-serif;
}

#superman {
    color:blue;
    font-size: 36px;
}

.odder {
    font-size: 24px;
}

#supergirl {
    background-color: rgb(172, 233, 174);
    font-size: 24px;
    font-weight: bold;
}